@media only screen and (min-width: 1100px) {
  .main-right-content-container {
    display: block;
    background-image: url(/public/images/hand-content-background.svg);
    /* background-repeat: no-repeat; */
    width: 45%;
    max-height: 100%;
    position: relative;
  }

  .main-right-content-container > img {
    position: absolute;
    right: 2em;
    bottom: 0;
  }

  .cc-display-star-container {
    position: relative;
    /* background-color: violet; */
    z-index: 3;
    width: 370px;
    height: 120px;
  }

  .cc-display-star-container > img:nth-child(2) {
    position: absolute;
    width: 23px;
    top: 50px;
    left: -20px;
  }

  .credit-card-white {
    background-color: #ffffff;
    width: 434px;
    height: 252px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    margin: 0 5rem 13.5rem;
  }

  .cc-white-header {
    padding: 35px 35px 25px;
  }

  .cc-white-logo-container > div {
    position: relative;
    margin-right: 10px;
  }

  .cc-white-logo-container > div > img {
    width: 21px;
  }

  .cc-white-logo-text {
    font: 600 1.3rem cormorant garamond;
    margin: 0 0 3px;
  }

  /* venn diagram */

  .cc-white-diagram {
    background-color: #1d1d1c;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    margin: 0 12px;
  }

  .cc-white-diagram::after {
    content: "";
    background-color: #1d1d1c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgb(227, 233, 245);
    top: -1px;
    right: -12px;
    box-sizing: border-box;
  }

  .cc-white-diagram::before {
    content: "";
    background-color: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid rgb(227, 233, 245);
    z-index: 1;
  }

  /* credit card chip */

  .cc-white-chip {
    margin: 15px 35px 18px;
  }

  /* Bottom portion of credit card */

  .cc-white-footer {
    margin: 0 35px;
    position: relative;
  }

  .cc-white-name {
    margin: 20px 0 0;
    font: 600 16px plus jakarta sans;
    letter-spacing: 5px;
    color: #474c5f;
  }

  .cc-white-number {
    margin: 5px 0;
    font: 400 16px plus jakarta sans;
    color: #474c5f;
    letter-spacing: 5px;
  }

  .cc-white-footer img {
    width: 5%;
    position: absolute;
    right: 0px;
    top: 0;
  }
}
