@media only screen and (min-width: 1100px) {
  .cc-features-container {
    background-color: #1d1d1c;
    color: #ffffff;
    padding: 5rem 7rem;
  }

  .cc-features-container > h1 {
    font: 200 48px Cormorant Garamond;
    line-height: 52px;
    margin: 20px;
    letter-spacing: 1px;
  }

  .cc-feature-content-container {
    display: flex;
    flex-wrap: wrap;
  }

  .cc-feature-card {
    background-color: #181818;
    padding: 40px 40px 50px;
    width: 280px;
  }

  .cc-feature-title {
    margin: 0;
    font: 200 36px Cormorant Garamond;
    color: #e7e7e7;
  }

  .cc-feature-description {
    font: 200 16px Open sans;
    opacity: 0.6;
    margin: 18px 0px 25px;
  }
  .cc-feature-btn {
    font: 200 16px Open sans;
    margin: 18px 0px;
    padding: 7px 25px;
    text-decoration: none;
    font: 400 15px helvetica neue;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #a5afd4;
    border-radius: 100px;
  }

  .cc-feature-btn:active {
    background-color: #7f8cb9;
  }
}
